==
<footer class="footer">
	<div class="container">

		<div class="foter_block">

			<div class="inner__foter_block __big">
				<div class="caption">{% content "footer/footer_try.txt" %}</div>

				<a class="btn btn_white" href="try"><span class="link"><span class="link_text">{% content "footer/footer_online.txt" %}</span></span></a>
				<div class="btn btn_blue open-tooltip"><span class="link"><span class="link_text">{% content "footer/footer_offline.txt" %}</span></span>
					<div class="tooltip inline">
						<p>Have you got Intellij IDEA and PostgreSQL already installed?</p>
						<a class="btn btn_blue close" href="https://en-documentation.lsfusion.org/pages/viewpage.action?pageId=57738081"><span class="link"><span class="link__text">Yes</span></span></a>
						<a class="btn btn_white close" href="https://en-documentation.lsfusion.org/pages/viewpage.action?pageId=57738076"><span class="link"><span class="link__text">No</span></span></a>
					</div>
				</div>

				<p>{% content "footer/footer_text.htm" %}</p>
			</div>

			<div class="inner__foter_block">
				<div class="caption">{% content "footer/footer_study.txt" %}</div>
				<a class="btn btn_white" href="https://en-documentation.lsfusion.org/display/LSFUS/Paradigm">
					<span class="link">
						<span class="link__text">{% content "footer/footer_up.txt" %}</span>
					</span>
				</a>
				<a class="btn btn_blue" href="https://en-documentation.lsfusion.org/display/LSFUS/Examples">
					<span class="link">
						<span class="link__text">{% content "footer/footer_down.txt" %}</span>
					</span>
				</a>
				<p>{% content "footer/footer_more.txt" %}</p>
			</div>

			{% partial "social" %}

		</div>

		<div class="foter_block">
			<div class="inner__foter_block">{% content "footer/copy.txt" %}</div>
			<div class="inner__foter_block">
				<a class="link tlink__btn" href="sitemap">{% content "footer/sitemap.txt" %}</a>
			</div>
			<div class="inner__foter_block">
				<a class="link tlink__btn" href="mailto:info@lsfusion.org">{% content "footer/feedback.txt" %}</a>
			</div>
		</div>

	</div>
</footer>