<footer class="footer">
	<div class="container">

		<div class="foter_block">

			<div class="inner__foter_block __big">
				<div class="caption">{% content "footer/footer_try.txt" %}</div>

				<div class="btn btn_white open-tooltip"><span class="link"><span class="link_text">{% content "footer/footer_online.txt" %}</span></span>
					<div class="tooltip inline">
						<p>Вы точно хотите попробовать онлайн?</p>
						<div class="btn btn_blue"><a class="link" href="/try"><span class="link__text">Да</span></a>
						</div><a class="btn btn_white close"><span class="link"><span class="link__text">Нет</span></span></a>
					</div>
				</div>
				<div class="btn btn_blue open-tooltip"><span class="link"><span class="link_text">{% content "footer/footer_offline.txt" %}</span></span>
					<div class="tooltip inline">
						<p>Вы точно хотите попробовать оффлайн?</p>
						<div class="btn btn_blue"><a class="link" href="/download"><span class="link__text">Да</span></a>
						</div><a class="btn btn_white close"><span class="link"><span class="link__text">Нет</span></span></a>
					</div>
				</div>

				<p>{% content "footer/footer_text.htm" %}</p>
			</div>

			<div class="inner__foter_block">
				<div class="caption">{% content "footer/footer_study.txt" %}</div>
				<a class="btn btn_white" href="/try">
					<span class="link">
						<span class="link__text">{% content "footer/footer_down.txt" %}</span>
					</span>
				</a>
				<a class="btn btn_blue" href="/download">
					<span class="link">
						<span class="link__text">{% content "footer/footer_up.txt" %}</span>
					</span>
				</a>
				<p>{% content "footer/footer_more.txt" %}</p>
			</div>

			{% partial "social" %}

		</div>

		<div class="foter_block">
			<div class="inner__foter_block">{% content "footer/copy.txt" %}</div>
			<div class="inner__foter_block">
				<a class="link tlink__btn" href="/sitemap">{% content "footer/sitemap.txt" %}</a>
			</div>
			<div class="inner__foter_block">
				<a class="link tlink__btn" href="/support">{% content "footer/feedback.txt" %}</a>
			</div>
		</div>

	</div>
</footer>
