<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-38678623-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-38678623-1');
    </script>

    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="keywords" content="{{ this.page.meta_keywords }}">
    <meta name="author" content="{{ this.page.meta_author }}">
    <title>{{ this.page.meta_title }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/images/apple-touch-icon.png'|theme }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/images/favicon_32x32.png'|theme }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/images/favicon_16x16.png'|theme }}">
    <link rel="icon" type="image/x-icon" href="{{ 'assets/images/favicon.ico'|theme }}">
    <link href="{{ [
            'assets/css/styles.min.css'
        ]|theme }}" rel="stylesheet">
</head>