<div class="inner__foter_block following">
	<div class="caption">{% content "footer/footer_feedback.txt" %}</div>
	<div class="follow">
		<a class="logo__link" href="https://slack.lsfusion.org/" target="_blank">
			<img alt="slack" src="{{ 'assets/images/slack.svg'|theme }}">
		</a>
		<a class="logo__link" href="https://twitter.com/lsfusion" target="_blank">
			<img alt="twitter" src="{{ 'assets/images/twitter.svg'|theme }}">
		</a>
		<a class="logo__link" href="https://github.com/lsFusion" target="_blank">
			<img alt="github" src="{{ 'assets/images/github.svg'|theme }}">
		</a>
		<a class="logo__link" href="https://ru.stackoverflow.com/" target="_blank">
			<img alt="stackoverflow" src="{{ 'assets/images/stackoverflow.svg'|theme }}">
		</a>
		<a class="logo__link" href="https://habr.com/" target="_blank">
			<img alt="habr" src="{{ 'assets/images/habr.svg'|theme }}">
		</a>
		<a class="logo__link" href="http://jenkins.lsfusion.org/" target="_blank">
			<img alt="man" src="{{ 'assets/images/man.svg'|theme }}">
		</a>
		<a class="logo__link" href="mailto:info@lsfusion.org" target="_blank">
			<img alt="mail" src="{{ 'assets/images/mail.svg'|theme }}">
		</a>
	</div>
</div>