<div class="inner__foter_block following">
	<div class="caption">{% content "footer/footer_feedback.txt" %}</div>
	<div class="follow">
		<a class="logo__link" href="https://slack.com/" target="_blank">
			<img alt="slack" src="{{ 'assets/images/slack.svg'|theme }}">
		</a>
		<a class="logo__link" href="https://twitter.com" target="_blank">
			<img alt="twitter" src="{{ 'assets/images/twitter.svg'|theme }}">
		</a>
		<a class="logo__link" href="https://github.com/" target="_blank">
			<img alt="github" src="{{ 'assets/images/github.svg'|theme }}">
		</a>
		<a class="logo__link" href="https://stackoverflow.com/" target="_blank">
			<img alt="stackoverflow" src="{{ 'assets/images/stackoverflow.svg'|theme }}">
		</a>
		<a class="logo__link" href="https://habr.com/" target="_blank">
			<img alt="habr" src="{{ 'assets/images/habr.svg'|theme }}">
		</a>
		<a class="logo__link" href="https://jenkins.io/" target="_blank">
			<img alt="man" src="{{ 'assets/images/man.svg'|theme }}">
		</a>
		<a class="logo__link" href="mailto:test@test.ru" target="_blank">
			<img alt="mail" src="{{ 'assets/images/mail.svg'|theme }}">
		</a>
	</div>
</div>