==
<div class="mode-content" id="tab_2">
	<div class="filter-panel list-active">
		<div class="filter-panel__current visible-md">
			<div class="caption">For everyone</div>
			<div class="link-off"><img alt="off" src="{{ 'assets/images/down-arrow.svg'|theme }}"></div>
		</div>
		<ul class="filter-panel__list">
			<li class="filter-panel__item" onchange="filterChanged(this)">
				<label class="filter filter_checked" for="all"><span class="caption-wrap"><input class="filter__input-r" id="all" type="radio" name="speed" checked="checked"/><span class="filter__caption caption">For everyone</span></span>
				</label>
			</li>
			<li class="filter-panel__item" onchange="filterChanged(this)">
				<label class="filter" for="develop"><span class="caption-wrap"><input class="filter__input-r" id="develop" type="radio" name="speed"/><span class="filter__caption caption">For developers</span></span>
				</label>
			</li>
			<li class="filter-panel__item" onchange="filterChanged(this)">
				<label class="filter" for="admin"><span class="caption-wrap"><input class="filter__input-r" id="admin" type="radio" name="speed"/><span class="filter__caption caption">FOR ADMINISTRATORS</span></span>
				</label>
			</li>
			<li class="filter-panel__item" onchange="filterChanged(this)">
				<label class="filter" for="user"><span class="caption-wrap"><input class="filter__input-r" id="user" type="radio" name="speed"/><span class="filter__caption caption">FOR USERS</span></span>
				</label>
			</li>
			<li class="filter-panel__item" onchange="filterChanged(this)">
				<label class="filter" for="busi"><span class="caption-wrap"><input class="filter__input-r" id="busi" type="radio" name="speed"/><span class="filter__caption caption">FOR BUSINESSES</span></span>
				</label>
			</li>
		</ul>
	</div>
	<div class="table__wrapp">
		<div class="table table_radio">
			<div class="table__head">
				<div class="table__row table__row_line">
					<div class="table__cell" style="width: 250px">NFR
					</div>
					<div class="table__cell" style="width: 180px">ERP
					</div>
					<div class="table__cell" style="width: 180px">RDBMS + UI
					</div>
					<div class="table__cell" style="width: 180px">ORM + UI
					</div>
					<div class="table__cell" style="width: 180px">RAD
					</div>
					<div class="table__cell" style="width: 180px">Electronic tables
					</div>
					<div class="table__cell" style="width: 180px">lsFusion
					</div>
				</div>
			</div>
			<div class="table__body">
				<div class="table__row table__row_sub table__row_line">
					<div class="table__cell">Examples
					</div>
					<div class="table__cell">SAP, Axapta, 1C 8.2 or later
					</div>
					<div class="table__cell">Oracle, MS SQL, Postgres + UI (Java, .Net, Delphi)
					</div>
					<div class="table__cell">Java Spring, .NET
					</div>
					<div class="table__cell">MS Access, Foxpro, Delphi, 1C 8.1 or earlier
					</div>
					<div class="table__cell">Excel, Google Docs
					</div>
					<div class="table__cell">lsFusion
					</div>
				</div>
				<div class="table__row table__row_sub table__row_line">
					<div class="table__cell">Common types of systems
					</div>
					<div class="table__cell">Multi-functional low-load systems with structured data
					</div>
					<div class="table__cell">Multi-functional high-load systems with structured data
					</div>
					<div class="table__cell">Specialized ultra-high-load systems
					</div>
					<div class="table__cell">Specialized low-load systems with structured data
					</div>
					<div class="table__cell">Specialized low-load systems with unstructured data
					</div>
					<div class="table__cell">Any system with structured data (except ultra-high-load systems)
					</div>
				</div>
				<div class="table__row table__row_sub table__row_line">
					<div class="table__cell">Common industries
					</div>
					<div class="table__cell">Business applications (manufacturing, wholesale)
					</div>
					<div class="table__cell">Business applications (banking, retail)
					</div>
					<div class="table__cell">Web applications (websites, online services, portals)
					</div>
					<div class="table__cell">Business applications
					</div>
					<div class="table__cell">Any industry
					</div>
					<div class="table__cell">Any industry
					</div>
				</div>
				<div class="table__row table__row_line" data-row-type="busi develop all">
					<div class="table__cell">Development speed
					</div>
					<div class="table__cell table__cell_minus">4
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_minus">2
					</div>
					<div class="table__cell table__cell_minus">4
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_plus">10
					</div>
				</div>
				<div class="table__row table__row_line" data-row-type="busi develop all">
					<div class="table__cell">Development simplicity
					</div>
					<div class="table__cell table__cell_minus">4
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_minus">2
					</div>
					<div class="table__cell table__cell_minus">4
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_plus">10
					</div>
				</div>
				<div class="table__row table__row_line" data-row-type="develop user all">
					<div class="table__cell">Modularity
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_middle">5
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_minus">1
					</div>
					<div class="table__cell table__cell_plus">10
					</div>
				</div>
				<div class="table__row table__row_line" data-row-type="develop all">
					<div class="table__cell">Versatility
					</div>
					<div class="table__cell table__cell_minus">4
					</div>
					<div class="table__cell table__cell_middle">7
					</div>
					<div class="table__cell table__cell_plus">10
					</div>
					<div class="table__cell table__cell_middle">5
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_middle">7
					</div>
				</div>
				<div class="table__row table__row_line" data-row-type="admin busi all">
					<div class="table__cell">Portability
					</div>
					<div class="table__cell table__cell_minus">4
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_plus">9
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_plus">10
					</div>
				</div>
				<div class="table__row table__row_line" data-row-type="admin all">
					<div class="table__cell">Supportability
					</div>
					<div class="table__cell table__cell_plus">8
					</div>
					<div class="table__cell table__cell_middle">6
					</div>
					<div class="table__cell table__cell_middle">6
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_minus">2
					</div>
					<div class="table__cell table__cell_plus">10
					</div>
				</div>
				<div class="table__row table__row_line" data-row-type="develop all">
					<div class="table__cell">Openness
					</div>
					<div class="table__cell table__cell_minus">4
					</div>
					<div class="table__cell table__cell_middle">7
					</div>
					<div class="table__cell table__cell_plus">10
					</div>
					<div class="table__cell table__cell_minus">4
					</div>
					<div class="table__cell table__cell_minus">4
					</div>
					<div class="table__cell table__cell_plus">10
					</div>
				</div>
				<div class="table__row table__row_line" data-row-type="user all">
					<div class="table__cell">Usability
					</div>
					<div class="table__cell table__cell_middle">6
					</div>
					<div class="table__cell table__cell_middle">5
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_middle">5
					</div>
					<div class="table__cell table__cell_middle">7
					</div>
					<div class="table__cell table__cell_plus">10
					</div>
				</div>
				<div class="table__row table__row_line" data-row-type="user busi all">
					<div class="table__cell">Performance
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_plus">9
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_plus">10
					</div>
				</div>
				<div class="table__row table__row_line" data-row-type="admin develop user all">
					<div class="table__cell">Integrity
					</div>
					<div class="table__cell table__cell_minus">4
					</div>
					<div class="table__cell table__cell_middle">7
					</div>
					<div class="table__cell table__cell_minus">4
					</div>
					<div class="table__cell table__cell_minus">4
					</div>
					<div class="table__cell table__cell_minus">2
					</div>
					<div class="table__cell table__cell_plus">10
					</div>
				</div>
				<div class="table__row table__row_line" data-row-type="admin user busi all">
					<div class="table__cell">Scalability
					</div>
					<div class="table__cell table__cell_minus">4
					</div>
					<div class="table__cell table__cell_middle">6
					</div>
					<div class="table__cell table__cell_plus">10
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_minus">2
					</div>
					<div class="table__cell table__cell_plus">8
					</div>
				</div>
				<div class="table__row table__row_line" data-row-type="busi all">
					<div class="table__cell">Security
					</div>
					<div class="table__cell table__cell_plus">8
					</div>
					<div class="table__cell table__cell_plus">8
					</div>
					<div class="table__cell table__cell_middle">6
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_minus">2
					</div>
					<div class="table__cell table__cell_plus">10
					</div>
				</div>
				<div class="table__row table__row_line" data-row-type="busi all">
					<div class="table__cell">Internationalization
					</div>
					<div class="table__cell table__cell_plus">10
					</div>
					<div class="table__cell table__cell_middle">6
					</div>
					<div class="table__cell table__cell_plus">10
					</div>
					<div class="table__cell table__cell_minus">4
					</div>
					<div class="table__cell table__cell_minus">4
					</div>
					<div class="table__cell table__cell_plus">10
					</div>
				</div>
				<div class="table__row table__row_line" data-row-type="busi all">
					<div class="table__cell">Cost
					</div>
					<div class="table__cell table__cell_minus">4
					</div>
					<div class="table__cell table__cell_middle">6
					</div>
					<div class="table__cell table__cell_plus">10
					</div>
					<div class="table__cell table__cell_plus">8
					</div>
					<div class="table__cell table__cell_plus">8
					</div>
					<div class="table__cell table__cell_plus">10
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	function filterChanged(_this) {
		var menu = _this.closest(".filter-panel");
		if (menu.classList.contains('list-active')) {
			menu.classList.remove('list-active')
		} else {
			menu.classList.add('list-active');
		}

		menu.querySelector(".filter-panel__current .caption").innerText = _this.querySelector(".filter__caption").innerText;
	}
</script>