<div class="mode-content" id="tab_2">
	<div class="filter-panel list-active">
		<div class="filter-panel__current visible-md">
			<div class="caption">Всем</div>
			<div class="link-off"><img alt="off" src="{{ 'assets/images/down-arrow.svg'|theme }}"></div>
		</div>
		<ul class="filter-panel__list">
			<li class="filter-panel__item">
				<label class="filter filter_checked" for="all"><span class="caption-wrap"><input class="filter__input-r" id="all" type="radio" name="speed" checked="checked"/><span class="filter__caption caption">Всем</span></span>
				</label>
			</li>
			<li class="filter-panel__item">
				<label class="filter" for="develop"><span class="caption-wrap"><input class="filter__input-r" id="develop" type="radio" name="speed"/><span class="filter__caption caption">Разработчикам</span></span>
				</label>
			</li>
			<li class="filter-panel__item">
				<label class="filter" for="admin"><span class="caption-wrap"><input class="filter__input-r" id="admin" type="radio" name="speed"/><span class="filter__caption caption">Администраторам</span></span>
				</label>
			</li>
			<li class="filter-panel__item">
				<label class="filter" for="user"><span class="caption-wrap"><input class="filter__input-r" id="user" type="radio" name="speed"/><span class="filter__caption caption">Пользователям</span></span>
				</label>
			</li>
			<li class="filter-panel__item">
				<label class="filter" for="busi"><span class="caption-wrap"><input class="filter__input-r" id="busi" type="radio" name="speed"/><span class="filter__caption caption">Бизнесу</span></span>
				</label>
			</li>
		</ul>
	</div>
	<div class="table__wrapp">
		<div class="table table_radio">
			<div class="table__head">
				<div class="table__row table__row_line">
					<div class="table__cell" style="width: 250px">NFR
					</div>
					<div class="table__cell" style="width: 180px">ERP
					</div>
					<div class="table__cell" style="width: 180px">RDBMS + UI
					</div>
					<div class="table__cell" style="width: 180px">ORM + UI
					</div>
					<div class="table__cell" style="width: 180px">RAD
					</div>
					<div class="table__cell" style="width: 180px">Electronic tables
					</div>
					<div class="table__cell" style="width: 180px">lsFusion
					</div>
				</div>
			</div>
			<div class="table__body">
				<div class="table__row table__row_sub table__row_line">
					<div class="table__cell">Примеры
					</div>
					<div class="table__cell">SAP, Axapta, 1C>=8.2
					</div>
					<div class="table__cell">Oracle, MS SQL, Postgres + UI (Java, .Net, Delphi)
					</div>
					<div class="table__cell">Java Spring, .NET
					</div>
					<div class="table__cell">MS Access, Foxpro, Delphi, 1C<8.2
					</div>
					<div class="table__cell">Excel, Google docs
					</div>
					<div class="table__cell">lsFusion
					</div>
				</div>
				<div class="table__row table__row_sub table__row_line">
					<div class="table__cell">Основные области применения
					</div>
					<div class="table__cell">Многофункциональные низконагруженные системы с структурированными данными
					</div>
					<div class="table__cell">Многофункциональные высоконагруженные системы с структурированными данными
					</div>
					<div class="table__cell">Малофункциональные очень высоконагруженные системы
					</div>
					<div class="table__cell">Малофункциональные низконагруженные системы с структурированными данными
					</div>
					<div class="table__cell">Малофункциональные низконагруженные системы с неструктурированными данными
					</div>
					<div class="table__cell">Любые (кроме очень высоконагруженных) системы с структурированными данными
					</div>
				</div>
				<div class="table__row table__row_sub table__row_line">
					<div class="table__cell">Основные отрасли применения
					</div>
					<div class="table__cell">Бизнес-приложения (производство, оптовая торговля)
					</div>
					<div class="table__cell">Бизнес-приложения (банки, розничная торговля)
					</div>
					<div class="table__cell">Веб-приложения (сайты, сервисы, порталы)
					</div>
					<div class="table__cell">Бизнес-приложения
					</div>
					<div class="table__cell">Любые отрасли
					</div>
					<div class="table__cell">Любые отрасли
					</div>
				</div>
				<div class="table__row table__row_line" data-row-type="busi develop all">
					<div class="table__cell">Скорость разработки
					</div>
					<div class="table__cell table__cell_minus">4
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_minus">2
					</div>
					<div class="table__cell table__cell_minus">4
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_plus">10
					</div>
				</div>
				<div class="table__row table__row_line" data-row-type="busi develop all">
					<div class="table__cell">Простота разработки
					</div>
					<div class="table__cell table__cell_minus">4
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_minus">2
					</div>
					<div class="table__cell table__cell_minus">4
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_plus">10
					</div>
				</div>
				<div class="table__row table__row_line" data-row-type="develop user all">
					<div class="table__cell">Модульность
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_middle">5
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_minus">1
					</div>
					<div class="table__cell table__cell_plus">10
					</div>
				</div>
				<div class="table__row table__row_line" data-row-type="develop all">
					<div class="table__cell">Универсальность
					</div>
					<div class="table__cell table__cell_minus">4
					</div>
					<div class="table__cell table__cell_middle">7
					</div>
					<div class="table__cell table__cell_plus">10
					</div>
					<div class="table__cell table__cell_middle">5
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_middle">7
					</div>
				</div>
				<div class="table__row table__row_line" data-row-type="admin busi all">
					<div class="table__cell">Портируемость
					</div>
					<div class="table__cell table__cell_minus">4
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_plus">9
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_plus">10
					</div>
				</div>
				<div class="table__row table__row_line" data-row-type="admin all">
					<div class="table__cell">Поддерживаемость
					</div>
					<div class="table__cell table__cell_plus">8
					</div>
					<div class="table__cell table__cell_middle">6
					</div>
					<div class="table__cell table__cell_middle">6
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_minus">2
					</div>
					<div class="table__cell table__cell_plus">10
					</div>
				</div>
				<div class="table__row table__row_line" data-row-type="develop all">
					<div class="table__cell">Открытость
					</div>
					<div class="table__cell table__cell_minus">4
					</div>
					<div class="table__cell table__cell_middle">7
					</div>
					<div class="table__cell table__cell_plus">10
					</div>
					<div class="table__cell table__cell_minus">4
					</div>
					<div class="table__cell table__cell_minus">4
					</div>
					<div class="table__cell table__cell_plus">10
					</div>
				</div>
				<div class="table__row table__row_line" data-row-type="user all">
					<div class="table__cell">Удобство использования
					</div>
					<div class="table__cell table__cell_middle">6
					</div>
					<div class="table__cell table__cell_middle">5
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_middle">5
					</div>
					<div class="table__cell table__cell_middle">7
					</div>
					<div class="table__cell table__cell_plus">10
					</div>
				</div>
				<div class="table__row table__row_line" data-row-type="user busi all">
					<div class="table__cell">Производительность
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_plus">9
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_plus">10
					</div>
				</div>
				<div class="table__row table__row_line" data-row-type="admin develop user all">
					<div class="table__cell">Целостность
					</div>
					<div class="table__cell table__cell_minus">4
					</div>
					<div class="table__cell table__cell_middle">7
					</div>
					<div class="table__cell table__cell_minus">4
					</div>
					<div class="table__cell table__cell_minus">4
					</div>
					<div class="table__cell table__cell_minus">2
					</div>
					<div class="table__cell table__cell_plus">10
					</div>
				</div>
				<div class="table__row table__row_line" data-row-type="admin user busi all">
					<div class="table__cell">Масштабируемость
					</div>
					<div class="table__cell table__cell_minus">4
					</div>
					<div class="table__cell table__cell_middle">6
					</div>
					<div class="table__cell table__cell_plus">10
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_minus">2
					</div>
					<div class="table__cell table__cell_plus">8
					</div>
				</div>
				<div class="table__row table__row_line" data-row-type="busi all">
					<div class="table__cell">Безопасность
					</div>
					<div class="table__cell table__cell_plus">8
					</div>
					<div class="table__cell table__cell_plus">8
					</div>
					<div class="table__cell table__cell_middle">6
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_minus">2
					</div>
					<div class="table__cell table__cell_plus">10
					</div>
				</div>
				<div class="table__row table__row_line" data-row-type="busi all">
					<div class="table__cell">Интернационализация
					</div>
					<div class="table__cell table__cell_plus">10
					</div>
					<div class="table__cell table__cell_middle">6
					</div>
					<div class="table__cell table__cell_plus">10
					</div>
					<div class="table__cell table__cell_minus">4
					</div>
					<div class="table__cell table__cell_minus">4
					</div>
					<div class="table__cell table__cell_plus">10
					</div>
				</div>
				<div class="table__row table__row_line" data-row-type="busi all">
					<div class="table__cell">Стоимость
					</div>
					<div class="table__cell table__cell_minus">4
					</div>
					<div class="table__cell table__cell_middle">6
					</div>
					<div class="table__cell table__cell_plus">10
					</div>
					<div class="table__cell table__cell_plus">8
					</div>
					<div class="table__cell table__cell_plus">8
					</div>
					<div class="table__cell table__cell_plus">10
					</div>
				</div>
			</div>
		</div>
	</div>
</div>