<div class="mode-content" id="tab_3">
	<div class="table__wrapp">
		<div class="table table_radio">
			<div class="table__head">
				<div class="table__row table__row_line">
					<div class="table__cell" style="width: 250px">NFR
					</div>
					<div class="table__cell" style="width: 180px">ERP
					</div>
					<div class="table__cell" style="width: 180px">СУБД + UI
					</div>
					<div class="table__cell" style="width: 180px">ORM + UI
					</div>
					<div class="table__cell" style="width: 180px">RAD
					</div>
					<div class="table__cell" style="width: 180px">Electronic tables
					</div>
					<div class="table__cell" style="width: 180px">lsFusion
					</div>
				</div>
			</div>
			<div class="table__body">
				<div class="table__row table__row_sub table__row_line">
					<div class="table__cell">Примеры
					</div>
					<div class="table__cell">SAP, Axapta, 1C>=8.2
					</div>
					<div class="table__cell">Oracle, MS SQL, Postgres + UI (Java, .Net, Delphi)
					</div>
					<div class="table__cell">Java Spring, .NET
					</div>
					<div class="table__cell">MS Access, Foxpro, Delphi, 1C<8.2
					</div>
					<div class="table__cell">Excel, Google docs
					</div>
					<div class="table__cell">lsFusion
					</div>
				</div>
				<div class="table__row table__row_line">
					<div class="table__cell">Разработчики
					</div>
					<div class="table__cell table__cell_minus">4
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_minus">2
					</div>
					<div class="table__cell table__cell_minus">4
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_plus">10
					</div>
				</div>
				<div class="table__row table__row_line">
					<div class="table__cell">Администраторы
					</div>
					<div class="table__cell table__cell_minus">4
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_minus">2
					</div>
					<div class="table__cell table__cell_minus">4
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_plus">10
					</div>
				</div>
				<div class="table__row table__row_line">
					<div class="table__cell">Пользователи
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_middle">5
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_minus">1
					</div>
					<div class="table__cell table__cell_plus">10
					</div>
				</div>
				<div class="table__row table__row_line">
					<div class="table__cell">Бизнес
					</div>
					<div class="table__cell table__cell_minus">4
					</div>
					<div class="table__cell table__cell_minus">7
					</div>
					<div class="table__cell table__cell_plus">10
					</div>
					<div class="table__cell table__cell_minus">5
					</div>
					<div class="table__cell table__cell_minus">3
					</div>
					<div class="table__cell table__cell_middle">7
					</div>
				</div>
			</div>
		</div>
	</div>
</div>