title = "Возможности"
url = "/opportunities"
layout = "main"
description = "Incremental computing, combinatorial, reactive, and event-based programming, the ability to write and iterate over all function values, multiple inheritance and polymorphism, no encapsulation, and lots of other fundamentally new ideas greatly improve the development speed, quality, and performance of created systems compared to traditional approaches."
meta_title = "Features"
meta_description = "Features lsFusion.org"
is_hidden = 0

[viewBag]
localeUrl[en] = "/vozmozhnosti"
==
<?php
function onStart(){
	if(!empty($_GET['checked'])){
		$this['checked_input'] = htmlspecialchars($_GET['checked']); 
	}
}
?>
==
<div class="filter-panel list-active">

	<div class="filter-panel__current visible-md">
		<div class="caption">DEVELOPMENT SPEED</div>
		<div class="link-off">
			<img alt="off" src="{{ 'assets/images/down-arrow.svg'|theme }}" />
		</div>
	</div>

	<ul class="filter-panel__list">
	
		<li class="filter-panel__item">
			<label class="filter filter_checked" for="speed">
				<span class="caption-wrap">
					<input class="filter__input" id="speed" type="checkbox"  name="speed" {% if 'speed' in checked_input %} checked {% endif %} data-sort-selector="speed"/>
					<span class="filter__caption caption">DEVELOPMENT SPEED</span>
				</span>
			</label>
		</li>
		
		<li class="filter-panel__item">
			<label class="filter" for="easy">
				<span class="caption-wrap">
					<input class="filter__input" id="easy" type="checkbox" name="easy" {% if 'easy' in checked_input %} checked {% endif %} data-sort-selector="easy"/>
					<span class="filter__caption caption">EASE OF DEVELOPMENT</span>
				</span>
			</label>
		</li>
		
		<li class="filter-panel__item">
			<label class="filter" for="modul">
				<span class="caption-wrap">
					<input class="filter__input" id="modul" type="checkbox" name="modul" {% if 'modul' in checked_input %} checked {% endif %} data-sort-selector="modul"/>
					<span class="filter__caption caption">MODULARITY</span>
				</span>
			</label>
		</li>
		
		<li class="filter-panel__item">
			<label class="filter" for="productivity">
				<span class="caption-wrap">
					<input class="filter__input" id="productivity" type="checkbox" name="productivity" {% if 'productivity' in checked_input %} checked {% endif %} data-sort-selector="productivity"/>
					<span class="filter__caption caption">PERFORMANCE</span>
				</span>
			</label>
		</li>
		
		<li class="filter-panel__item">
			<label class="filter" for="scalability">
				<span class="caption-wrap">
					<input class="filter__input" id="scalability" type="checkbox" name="scalability" {% if 'scalability' in checked_input %} checked {% endif %} data-sort-selector="scalability"/>
					<span class="filter__caption caption">SCALABILITY</span>
				</span>
			</label>
		</li>
		
		<li class="filter-panel__item">
			<label class="filter" for="entirety">
				<span class="caption-wrap">
					<input class="filter__input" id="entirety" type="checkbox" name="entirety" {% if 'entirety' in checked_input %} checked {% endif %} data-sort-selector="entirety"/>
					<span class="filter__caption caption">INTEGRITY</span>
				</span>
			</label>
		</li>
		
		<li class="filter-panel__item">
			<label class="filter" for="openness">
				<span class="caption-wrap">
					<input class="filter__input" id="openness" type="checkbox" name="openness" {% if 'openness' in checked_input %} checked {% endif %} data-sort-selector="openness"/>
					<span class="filter__caption caption">OPENNESS</span>
				</span>
			</label>
		</li>
		
		<li class="filter-panel__item">
			<label class="filter" for="supportability">
				<span class="caption-wrap">
					<input class="filter__input" id="supportability" type="checkbox" name="supportability" {% if 'supportability' in checked_input %} checked {% endif %} data-sort-selector="supportability"/>
					<span class="filter__caption caption">SUPPORTABILITY</span>
				</span>
			</label>
		</li>
		
		<li class="filter-panel__item">
			<label class="filter" for="universalism">
				<span class="caption-wrap">
					<input class="filter__input" id="universalism" type="checkbox" name="universalism" {% if 'universalism' in checked_input %} checked {% endif %} data-sort-selector="universalism"/>
					<span class="filter__caption caption">VERSATILITY</span>
				</span>
			</label>
		</li>
		
		<li class="filter-panel__item">
			<label class="filter" for="safety">
				<span class="caption-wrap">
					<input class="filter__input" id="safety" type="checkbox" name="safety" {% if 'safety' in checked_input %} checked {% endif %} data-sort-selector="safety"/>
					<span class="filter__caption caption">SECURITY</span>
				</span>
			</label>
		</li>
		
		<li class="filter-panel__item">
			<label class="filter" for="internationalization">
				<span class="caption-wrap">
					<input class="filter__input" id="internationalization" type="checkbox" name="internationalization" {% if 'internationalization' in checked_input %} checked {% endif %} data-sort-selector="internationalization"/>
					<span class="filter__caption caption">I18n</span>
				</span>
			</label>
		</li>
		
		<li class="filter-panel__item">
			<label class="filter" for="usability">
				<span class="caption-wrap">
					<input class="filter__input" id="usability" type="checkbox" name="usability" {% if 'usability' in checked_input %} checked {% endif %} data-sort-selector="usability"/>
					<span class="filter__caption caption">USABILITY</span>
				</span>
			</label>
		</li>
		
		<li class="filter-panel__item">
			<label class="filter" for="port">
				<span class="caption-wrap">
					<input class="filter__input" id="port" type="checkbox" name="port" {% if 'port' in checked_input %} checked {% endif %} data-sort-selector="port"/>
					<span class="filter__caption caption">PORTABILITY</span>
				</span>
			</label>
		</li>
		
		<li class="filter-panel__item">
			<label class="filter" for="cost">
				<span class="caption-wrap">
					<input class="filter__input" id="cost" type="checkbox" name="cost" {% if 'cost' in checked_input %} checked {% endif %} data-sort-selector="cost"/>
					<span class="filter__caption caption">COST</span>
				</span>
			</label>
		</li>
		
		<li class="filter-panel__item"></li>
	</ul>
</div>

<div class="capability-content filtering">

	<div class="item item_hover filtering-item" data-sort-name="speed easy">
		<div class="icon-wrap">
			<img class="i" src="{{ 'assets/images/i-gear.svg'|theme }}" alt="icon"/>
		</div>
		<h2>Single language for data</h2>
		<div class="text">The platform is free from <a href="https://en.wikipedia.org/wiki/Object-relational_impedance_mismatch">the object-relational semantic gap</a>, so developers don't need to constantly choose between "rapid" SQL queries and a "convenient" imperative language. Both of these approaches are almost fully abstracted and united. Each developer always works with data using a single paradigm, while the platform takes care of how and where to do all the remaining work.</div>
		<div class="btn-wrap">
			<a class="btn btn_narow__white" href="comparison?id=1">
				<span class="link">
					<span class="link__text">Compare</span>
				</span>
			</a>
		</div>
	</div>

	<div class="item item_hover filtering-item" data-sort-name="speed easy usability">
		<div class="icon-wrap">
			<img class="i" src="{{ 'assets/images/i-gear.svg'|theme }}" alt="icon"/>
		</div>
		<h2>Single paradigm for UI</h2>
		<div class="text">The platform doesn't split the user interface into interactive forms and reports. Any form can contain both primary and computed data and can be displayed in a print-ready (like a classic report) or interactive (editable) view. By the same token, users can not only see the data they need to make a decision, but also immediately enter the decision they've made through the same UI.</div>
		<div class="btn-wrap">
			<a class="link tlink__btn" href="https://en-documentation.lsfusion.org/display/LSFUS/Form+views">Documentation</a>
			<a class="link tlink__btn" href="https://en-documentation.lsfusion.org/display/LSFUS/How-to%3A+GUI">How-to</a>
			<a class="btn btn_narow__white" href="comparison?id=2">
				<span class="link">
					<span class="link__text">Compare</span>
				</span>
			</a>
		</div>
	</div>

	<div class="item item_hover filtering-item" data-sort-name="speed easy">
		<div class="icon-wrap">
			<img class="i" src="{{ 'assets/images/i-gear.svg'|theme }}" alt="icon"/>
		</div>
		<h2>Server-to-client communication</h2>
		<div class="text">The platform doesn't split business logic into server and client sides, which allows developers to request modal interaction with the user at any time. When this happens, the platform automatically pauses the current action, sends a request to the user, and resumes the action as soon as a response is received.</div>
		<div class="btn-wrap">
			<a class="link tlink__btn" href="https://en-documentation.lsfusion.org/display/LSFUS/Value+input">Documentation</a>
			<a class="link tlink__btn" href="https://en-documentation.lsfusion.org/display/LSFUS/How-to%3A+Data+entry">How-to</a>
			<a class="btn btn_narow__white" href="comparison?id=3">
				<span class="link">
					<span class="link__text">Compare</span>
				</span>
			</a>
		</div>
	</div>

	<div class="item item_hover filtering-item" data-sort-name="productivity">
		<div class="icon-wrap">
			<img class="i" src="{{ 'assets/images/i-gear.svg'|theme }}" alt="icon"/>
		</div>
		<h2>No ORM, Yes SQL</h2>
		<div class="text">When a given action requires data processing for many objects at once, the platform tries, whenever possible, to perform this processing on the database server through a single request (i.e. for all objects at once). In this case, all of the requests generated are optimized as much as possible depending on the features of the database server.</div>
		<div class="btn-wrap">
			<a class="btn btn_narow__white" href="comparison?id=4">
				<span class="link">
					<span class="link__text">Compare</span>
				</span>
			</a>
		</div>
	</div>

	<div class="item item_hover filtering-item" data-sort-name="speed easy modul">
		<div class="icon-wrap">
			<img class="i" src="{{ 'assets/images/i-gear.svg'|theme }}" alt="icon"/>
		</div>
		<h2>Data modification events</h2>
		<div class="text">The platform allows you to create event handlers for any changes in any data (even computed data). This mechanism can significantly increase the modularity of the solutions created.</div>
		<div class="btn-wrap">
			<a class="link tlink__btn" href="https://en-documentation.lsfusion.org/display/LSFUS/Events">Documentation</a>
			<a class="link tlink__btn" href="https://en-documentation.lsfusion.org/display/LSFUS/How-to%3A+Events">How-to</a>
			<a class="btn btn_narow__white" href="comparison?id=5">
				<span class="link">
					<span class="link__text">Compare</span>
				</span>
			</a>
		</div>
	</div>

	<div class="item item_hover filtering-item" data-sort-name="productivity">
		<div class="icon-wrap">
			<img class="i" src="{{ 'assets/images/i-gear.svg'|theme }}" alt="icon"/>
		</div>
		<h2>Dynamic physical model</h2>
		<div class="text">The platform allows you to materialize any existing indicators in the system at any time, add new tables or delete existing ones, or change the location of materialized indicators in these tables.</div>
		<div class="btn-wrap">
			<a class="link tlink__btn" href="https://en-documentation.lsfusion.org/display/LSFUS/Execution">Documentation</a>
			<a class="link tlink__btn" href="https://en-documentation.lsfusion.org/display/LSFUS/How-to%3A+Physical+model">How-to</a>
			<a class="btn btn_narow__white" href="comparison?id=6">
				<span class="link">
					<span class="link__text">Compare</span>
				</span>
			</a>
		</div>
	</div>

	<div class="item item_hover filtering-item" data-sort-name="speed easy entirety">
		<div class="icon-wrap">
			<img class="i" src="{{ 'assets/images/i-gear.svg'|theme }}" alt="icon"/>
		</div>
		<h2>Constraints on any data</h2>
		<div class="text">The platform allows you to set constraints for the values of any data (even computed data), and all such constraints (as with events) are global in order to prevent inexperienced users or developers from bypassing them with an invalid transaction.</div>
		<div class="btn-wrap">
			<a class="link tlink__btn" href="https://en-documentation.lsfusion.org/display/LSFUS/Constraints">Documentation</a>
			<a class="link tlink__btn" href="https://en-documentation.lsfusion.org/display/LSFUS/How-to%3A+Constraints">How-to</a>
			<a class="btn btn_narow__white" href="comparison?id=7">
				<span class="link">
					<span class="link__text">Compare</span>
				</span>
			</a>
		</div>
	</div>

	<div class="item item_hover filtering-item" data-sort-name="speed easy usability">
		<div class="icon-wrap">
			<img class="i" src="{{ 'assets/images/i-gear.svg'|theme }}" alt="icon"/>
		</div>
		<h2>Absolute reactivity</h2>
		<div class="text">All computed data is automatically updated once the data it uses is changed. This rule applies always and everywhere, whether you're displaying interactive forms or simply accessing data inside the action being performed.</div>
		<div class="btn-wrap">
			<a class="btn btn_narow__white" href="comparison?id=8">
				<span class="link">
					<span class="link__text">Compare</span>
				</span>
			</a>
		</div>
	</div>

	<div class="item item_hover filtering-item" data-sort-name="port">
		<div class="icon-wrap">
			<img class="i" src="{{ 'assets/images/i-gear.svg'|theme }}" alt="icon"/>
		</div>
		<h2>Cross-platform server</h2>
		<div class="text">Supports any OS for which JVM is implemented, as well as the most popular relational databases.</div>
		<div class="btn-wrap">
			<a class="btn btn_narow__white" href="comparison?id=9">
				<span class="link">
					<span class="link__text">Compare</span>
				</span>
			</a>
		</div>
	</div>

	<div class="item item_hover filtering-item" data-sort-name="openness universalism">
		<div class="icon-wrap">
			<img class="i" src="{{ 'assets/images/i-gear.svg'|theme }}" alt="icon"/>
		</div>
		<h2>Open database structure</h2>
		<div class="text">The mapping of logic to the database is absolutely transparent, and developers can manage this process on their own. Forget about auto generated names and surrogate tables.</div>
		<div class="btn-wrap">
			<a class="link tlink__btn" href="https://https://en-documentation.lsfusion.org/display/LSFUS/Execution">Documentation</a>
			<a class="link tlink__btn" href="https://en-documentation.lsfusion.org/display/LSFUS/How-to%3A+Physical+model">How-to</a>
			<a class="btn btn_narow__white" href="comparison?id=10">
				<span class="link">
					<span class="link__text">Compare</span>
				</span>
			</a>
		</div>
	</div>

	<div class="item item_hover filtering-item" data-sort-name="port">
		<div class="icon-wrap">
			<img class="i" src="{{ 'assets/images/i-gear.svg'|theme }}" alt="icon"/>
		</div>
		<h2>Cross-platform client</h2>
		<div class="text">The platform supports both desktop and Web clients with any OS for which JVM implementations are available. And since relative (rather than absolute) positioning is used for the components, they are rendered in the Web client natively using CSS (without JavaScript), which significantly increases UI responsiveness in the Web client. In addition, neither the desktop nor the Web client contain any application logic, which greatly simplifies their deployment (i.e. you can use the same client for any logic).</div>
		<div class="btn-wrap">
			<a class="btn btn_narow__white" href="comparison?id=11">
				<span class="link">
					<span class="link__text">Compare</span>
				</span>
			</a>
		</div>
	</div>

	<div class="item item_hover filtering-item" data-sort-name="speed easy openness">
		<div class="icon-wrap">
			<img class="i" src="{{ 'assets/images/i-gear.svg'|theme }}" alt="icon"/>
		</div>
		<h2>Declarative handling of external formats</h2>
		<div class="text">Any form can be shown to the user interactively or printed out or exported in most popular data formats (JSON, XML, CSV, XLS, DBF, etc.). This operation is symmetrical - you can also import data from a file to a form in any of these formats. Both processes are absolutely declarative and use the same concepts as the UI, which greatly simplifies interaction with external systems.</div>
		<div class="btn-wrap">
			<a class="link tlink__btn" href="https://en-documentation.lsfusion.org/display/LSFUS/Structured+view">Documentation</a>
			<a class="link tlink__btn" href="https://en-documentation.lsfusion.org/display/LSFUS/How-to%3A+Working+with+external+formats">How-to</a>
			<a class="btn btn_narow__white" href="comparison?id=12">
				<span class="link">
					<span class="link__text">Compare</span>
				</span>
			</a>
		</div>
	</div>

	<div class="item item_hover filtering-item" data-sort-name="scalability safety">
		<div class="icon-wrap">
			<img class="i" src="{{ 'assets/images/i-gear.svg'|theme }}" alt="icon"/>
		</div>
		<h2>Efficient client-server communication</h2>
		<div class="text">Client-server communication at the physical level minimizes synchronous round-trip calls (i.e. each user action is mapped to a single - usually asynchronous - request/response pair). The desktop client also archives and encrypts all transferred data (when necessary). During client-server communication (via TCP/IP for the desktop client or HTTP for the Web client), the platform provides guaranteed delivery - it resends any lost requests and ensures that they are processed in the correct order. All these features help the platform run efficiently even on low-bandwidth, unstable, or high-latency communication channels.</div>
		<div class="btn-wrap">
			<a class="btn btn_narow__white" href="comparison?id=13">
				<span class="link">
					<span class="link__text">Compare</span>
				</span>
			</a>
		</div>
	</div>

	<div class="item item_hover filtering-item" data-sort-name="openness universalism">
		<div class="icon-wrap">
			<img class="i" src="{{ 'assets/images/i-gear.svg'|theme }}" alt="icon"/>
		</div>
		<h2>Transparent integration</h2>
		<div class="text">The platform supports access to the system through the most common general-purpose application protocol (HTTP), while the access interface can execute not only standard commands (with automatic parsing of arguments), but also lsFusion code (as when accessing SQL servers). In addition, the platform supports access to any external systems at the language level via HTTP, as well as SQL servers, other lsFusion systems, etc. And, since the server itself is implemented as a Spring bean, you can manage its life cycle using a standard Spring IoC container. All these features allow you to use lsFusion not only as a full-fledged development platform, but also as a database or even a Java library.</div>
		<div class="btn-wrap">
			<a class="link tlink__btn" href="https://en-documentation.lsfusion.org/display/LSFUS/Integration">Documentation</a>
			<a class="link tlink__btn" href="https://en-documentation.lsfusion.org/display/LSFUS/How-to%3A+Interaction+via+HTTP+protocol">How-to</a>
			<a class="btn btn_narow__white" href="comparison?id=14">
				<span class="link">
					<span class="link__text">Compare</span>
				</span>
			</a>
		</div>
	</div>

	<div class="item item_hover filtering-item" data-sort-name="entirety scalability">
		<div class="icon-wrap">
			<img class="i" src="{{ 'assets/images/i-gear.svg'|theme }}" alt="icon"/>
		</div>
		<h2>CI in <a href="https://en.wikipedia.org/wiki/ACID">ACID</a> right out of the box</h2>
		<div class="text">The platform can properly roll back the application server to the state it was in before any data transaction had begun. This allows you to use the native integrity tools of modern SQL servers, which not only significantly reduces labor costs and human error when developing a system for a highly competitive environment, but also makes such a system much more scalable (provided that versioning databases are used).</div>
		<div class="btn-wrap">
			<a class="btn btn_narow__white" href="comparison?id=15">
				<span class="link">
					<span class="link__text">Compare</span>
				</span>
			</a>
		</div>
	</div>

	<div class="item item_hover filtering-item" data-sort-name="openness universalism">
		<div class="icon-wrap">
			<img class="i" src="{{ 'assets/images/i-gear.svg'|theme }}" alt="icon"/>
		</div>
		<h2>Seamless linking of Java libraries / SQL functions</h2>
		<div class="text">The application server runs on a Java virtual machine (JVM) and can thus be integrated with countless Java libraries. To do this, just create your own action in Java, register it in the platform, and then use it just like any action built into the platform or written on the platform's built-in language. By the same token, you can seamlessly connect custom SQL functions of the database server you're using.</div>
		<div class="btn-wrap">
			<a class="link tlink__btn" href="https://en-documentation.lsfusion.org/pages/viewpage.action?pageId=51216543">Documentation</a>
			<a class="link tlink__btn" href="https://en-documentation.lsfusion.org/display/LSFUS/How-to%3A+Access+to+internal+systems">How-to</a>
			<a class="btn btn_narow__white" href="comparison?id=16">
				<span class="link">
					<span class="link__text">Compare</span>
				</span>
			</a>
		</div>
	</div>

	<div class="item item_hover filtering-item" data-sort-name="speed supportability modul">
		<div class="icon-wrap">
			<img class="i" src="{{ 'assets/images/i-gear.svg'|theme }}" alt="icon"/>
		</div>
		<h2>Everything as Code</h2>
		<div class="text">All elements of the system, from events to form design, are written in the lsFusion language and stored in ordinary text files (without any shared repositories with an unknown structure). This allows you to use popular version control systems (Git, Subversion) and project-building tools (Maven in IDEs) when working with projects. In addition, this approach simplifies the support and deployment of the system you develop - you can use a regular text editor to view and quickly modify the logic when necessary and also easily identify any element in the system by file name and line number in this file.</div>
		<div class="btn-wrap">
			<a class="link tlink__btn" href="https://en-documentation.lsfusion.org/display/LSFUS/Language">Documentation</a>
			<a class="btn btn_narow__white" href="comparison?id=17">
				<span class="link">
				<span class="link__text">Compare</span>
				</span>
			</a>
		</div>
	</div>

	<div class="item item_hover filtering-item" data-sort-name="speed">
		<div class="icon-wrap">
			<img class="i" src="{{ 'assets/images/i-gear.svg'|theme }}" alt="icon"/>
		</div>
		<h2>Easy-to-use language</h2>
		<div class="text">The platform allows you to group element names into namespaces and consider names in the same namespace as having higher priority when searching for elements. In most cases, you only need to enter the "short" name of the element you're searching for and eventually write more concise and readable code. In addition, you can specify a class for each parameter in the code, and this class will also be taken into account during a search (i.e. explicit types are supported). This also makes your code shorter and simpler and ensures early error detection, smart auto-completion, and lots of other useful features.</div>
		<div class="btn-wrap">
			<a class="link tlink__btn" href="https://en-documentation.lsfusion.org/display/LSFUS/Element+identification">Documentation</a>
			<a class="link tlink__btn" href="https://en-documentation.lsfusion.org/display/LSFUS/How-to%3A+Searching+for+elements">How-to</a>
			<a class="btn btn_narow__white" href="comparison?id=18">
				<span class="link">
					<span class="link__text">Compare</span>
				</span>
			</a>
		</div>
	</div>

	<div class="item item_hover filtering-item" data-sort-name="speed">
		<div class="icon-wrap">
			<img class="i" src="{{ 'assets/images/i-gear.svg'|theme }}" alt="icon"/>
		</div>
		<h2>Easy-to-use IDE</h2>
		<div class="text">Intellij IDEA-based IDE with everything developers could ever need: search for uses, code/error highlighting, smart auto-completion, quick jump to declarations, class structure, renaming of elements, usage tree, data change breakpoints, debuggers, and more.</div>
		<div class="btn-wrap">
			<a class="link tlink__btn" href="https://en-documentation.lsfusion.org/display/LSFUS/IDE">Documentation</a>
			<a class="btn btn_narow__white" href="comparison?id=19">
				<span class="link">
					<span class="link__text">Compare</span>
				</span>
			</a>
		</div>
	</div>

	<div class="item item_hover filtering-item" data-sort-name="speed modul">
		<div class="icon-wrap">
			<img class="i" src="{{ 'assets/images/i-gear.svg'|theme }}" alt="icon"/>
		</div>
		<h2>Metaprogramming</h2>
		<div class="text">Do you want to create your own high-level operator, or maybe you just don't know how to generalize the logic, but want to reuse it? The platform provides full support for automatic code generation, from both the server side and IDE.</div>
		<div class="btn-wrap">
			<a class="link tlink__btn" href="https://en-documentation.lsfusion.org/display/LSFUS/Metaprogramming">Documentation</a>
			<a class="link tlink__btn" href="https://en-documentation.lsfusion.org/display/LSFUS/How-to%3A+Metaprogramming">How-to</a>
			<a class="btn btn_narow__white" href="comparison?id=20">
				<span class="link">
					<span class="link__text">Compare</span>
				</span>
			</a>
		</div>
	</div>

	<div class="item item_hover filtering-item" data-sort-name="scalability">
		<div class="icon-wrap">
			<img class="i" src="{{ 'assets/images/i-gear.svg'|theme }}" alt="icon"/>
		</div>
		<h2>Three-tier architecture</h2>
		<div class="text">The platform executes the imperative part of the system logic (i.e. everything related to data modifications) on application servers and the declarative part (i.e. everything related to data computations) on database servers. This separation simplifies the scaling of the system you develop and strengthens its fault tolerance due to the different nature of workload on these servers (e.g. swaps on application servers are much more dangerous than on database servers).</div>
		<div class="btn-wrap">
			<a class="btn btn_narow__white" href="comparison?id=21">
				<span class="link">
					<span class="link__text">Compare</span>
				</span>
			</a>
		</div>
	</div>

	<div class="item item_hover filtering-item" data-sort-name="scalability">
		<div class="icon-wrap">
			<img class="i" src="{{ 'assets/images/i-gear.svg'|theme }}" alt="icon"/>
		</div>
		<h2>Clustering</h2>
		<div class="text">Since the application servers don't have any shared data, you can easily add as many of them as you need. In addition, the platform can transfer user data between database servers asynchronously, which, in turn, allows you to dynamically distribute the workload among them (e.g. when you add data to the database and need to use ACID, you can switch this processing to the master server or [in other cases] to the least busy slave servers).</div>
		<div class="btn-wrap">
			<a class="btn btn_narow__white" href="comparison?id=22">
				<span class="link">
					<span class="link__text">Compare</span>
				</span>
			</a>
		</div>
	</div>

	<div class="item item_hover filtering-item" data-sort-name="modul">
		<div class="icon-wrap">
			<img class="i" src="{{ 'assets/images/i-gear.svg'|theme }}" alt="icon"/>
		</div>
		<h2>Extensions</h2>
		<div class="text">The extension technique allows developers to extend the functionality of one module through another (e.g. they can modify forms or classes created in another module). This mechanism makes the solutions you create much more modular.</div>
		<div class="btn-wrap">
			<a class="link tlink__btn" href="https://en-documentation.lsfusion.org/display/LSFUS/Extensions">Documentation</a>
			<a class="link tlink__btn" href="https://en-documentation.lsfusion.org/display/LSFUS/How-to%3A+Extensions">How-to</a>
			<a class="btn btn_narow__white" href="comparison?id=23">
				<span class="link">
					<span class="link__text">Compare</span>
				</span>
			</a>
		</div>
	</div>

	<div class="item item_hover filtering-item" data-sort-name="usability productivity">
		<div class="icon-wrap">
			<img class="i" src="{{ 'assets/images/i-gear.svg'|theme }}" alt="icon"/>
		</div>
		<h2>Asynchrony</h2>
		<div class="text">The platform tries, whenever possible, to perform all operations asynchronously (i.e. return control to the user before the operation completes), including most input operations and handling of local events.</div>
		<div class="btn-wrap">
			<a class="btn btn_narow__white" href="comparison?id=24">
				<span class="link">
					<span class="link__text">Compare</span>
				</span>
			</a>
		</div>
	</div>

	<div class="item item_hover filtering-item" data-sort-name="modul">
		<div class="icon-wrap">
			<img class="i" src="{{ 'assets/images/i-gear.svg'|theme }}" alt="icon"/>
		</div>
		<h2>Polymorphism and aggregations</h2>
		<div class="text">The platform supports inheritance (including multiple inheritance) and polymorphism (including multiple polymorphism). And, if inheritance isn't enough for you for whatever reason, the platform also provides an aggregation mechanism that, together with inheritance, allows you to implement almost any polymorphic logic.</div>
		<div class="btn-wrap">
			<a class="link tlink__btn" href="https://en-documentation.lsfusion.org/display/LSFUS/Classes">Documentation</a>
			<a class="link tlink__btn" href="https://en-documentation.lsfusion.org/display/LSFUS/How-to%3A++Inheritance+and+aggregation">How-to</a>
			<a class="btn btn_narow__white" href="comparison?id=25">
				<entirety class="link">
					<span class="link__text">Compare</span>
				</entirety>
			</a>
		</div>
	</div>

	<div class="item item_hover filtering-item" data-sort-name="usability">
		<div class="icon-wrap">
			<img class="i" src="{{ 'assets/images/i-gear.svg'|theme }}" alt="icon"/>
		</div>
		<h2>WYSIWYG</h2>
		<div class="text">In almost all cases, the user gets lots of features right out of the box, including quick editing of any visible data and any visible objects (bulk editing), copy and paste (e.g. to/from Excel), merging/canceling/saving changes, and other WYSIWYG features.</div>
		<div class="btn-wrap">
			<a class="btn btn_narow__white" href="comparison?id=26">
				<span class="link">
					<span class="link__text">Compare</span>
				</span>
			</a>
		</div>
	</div>

	<div class="item item_hover filtering-item" data-sort-name="internationalization">
		<div class="icon-wrap">
			<img class="i" src="{{ 'assets/images/i-gear.svg'|theme }}" alt="icon"/>
		</div>
		<h2>Internationalization</h2>
		<div class="text">Within any string literal (e.g. an element title or string constant) the platform allows the use of IDs (in brackets) to which you can then assign different texts for different languages. Accordingly, when accessing this literal, the platform automatically localizes it depending on the language settings of the target user.</div>
		<div class="btn-wrap">
			<a class="link tlink__btn" href="https://en-documentation.lsfusion.org/display/LSFUS/Internationalization">Documentation</a>
			<a class="link tlink__btn" href="https://en-documentation.lsfusion.org/display/LSFUS/How-to%3A+Internationalization">How-to</a>
			<a class="btn btn_narow__white" href="comparison?id=27">
				<span class="link">
					<span class="link__text">Compare</span>
				</span>
			</a>
		</div>
	</div>

	<div class="item item_hover filtering-item" data-sort-name="usability productivity">
		<div class="icon-wrap">
			<img class="i" src="{{ 'assets/images/i-gear.svg'|theme }}" alt="icon"/>
		</div>
		<h2>Retroactive modifications</h2>
		<div class="text">The platform allows users to change any previously-entered data (e.g. to rectify input errors) and only updates the data that is actually needed without thousands of related reversal operations, long reposting, or global database locks. In addition, the platform allows the simultaneous editing of the same data (e.g. the same document), which is useful for teamwork and rapidly inputting large amounts of data.</div>
		<div class="btn-wrap">
			<a class="btn btn_narow__white" href="comparison?id=28">
				<span class="link">
					<span class="link__text">Compare</span>
				</span>
			</a>
		</div>
	</div>

	<div class="item item_hover filtering-item" data-sort-name="supportability">
		<div class="icon-wrap">
			<img class="i" src="{{ 'assets/images/i-gear.svg'|theme }}" alt="icon"/>
		</div>
		<h2>Sophisticated tools for administrators</h2>
		<div class="text">The platform provides a complete set of administration tools for systems that are already running: interpreter (executes lsFusion code), process monitor (receives detailed information about processes that are running, e.g. call start time, stack, user, etc.), scheduler (performs periodic or scheduled actions), profiler (measures the performance of all actions performed for all/given users, e.g. builds a graph of calls, sharing time between the application server and the database server, etc.), messenger (for internal notifications/communication with users in the system), and numerous logs (connections, errors, etc.).</div>
		<div class="btn-wrap">
			<a class="link tlink__btn" href="https://en-documentation.lsfusion.org/display/LSFUS/Management">Documentation</a>
			<a class="btn btn_narow__white" href="comparison?id=29">
				<span class="link">
					<span class="link__text">Compare</span>
				</span>
			</a>
		</div>
	</div>

	<div class="item item_hover filtering-item" data-sort-name="usability productivity">
		<div class="icon-wrap">
			<img class="i" src="{{ 'assets/images/i-gear.svg'|theme }}" alt="icon"/>
		</div>
		<h2>Advanced interactive UIs</h2>
		<div class="text">When interacting with a user, the platform can display any data not only as individual objects and lists, but also as trees, both flat ("nested") and recursive (e.g. classifiers). In addition, the platform allows you to group various form blocks into folders (tabs) for structuring large quantities of data. When the data is not visible to the user, it is not read/computed (e.g. all lists are dynamic by default, i.e. only a limited number of objects are read initially, while the rest of them are read as updates to the current object in the table).</div>
		<div class="btn-wrap">
			<a class="link tlink__btn" href="https://en-documentation.lsfusion.org/display/LSFUS/Interactive+view#Interactiveview-tree">Documentation</a>
			<a class="link tlink__btn" href="https://en-documentation.lsfusion.org/display/LSFUS/How-to%3A+Trees">How-to</a>
			<a class="btn btn_narow__white" href="comparison?id=30">
				<span class="link">
					<span class="link__text">Compare</span>
				</span>
			</a>
		</div>
	</div>

	<div class="item item_hover filtering-item" data-sort-name="safety">
		<div class="icon-wrap">
			<img class="i" src="{{ 'assets/images/i-gear.svg'|theme }}" alt="icon"/>
		</div>
		<h2>Security policy</h2>
		<div class="text">A flexible security policy allows you to define data access constraints for both individual forms and specific actions/indicators. Then users won't be able to see this data or even know that it exists.</div>
		<div class="btn-wrap">
			<a class="link tlink__btn" href="https://en-documentation.lsfusion.org/display/LSFUS/Security+policy">Documentation</a>
			<a class="btn btn_narow__white" href="comparison?id=31">
				<span class="link">
					<span class="link__text">Compare</span>
				</span>
			</a>
		</div>
	</div>

	<div class="item item_hover filtering-item" data-sort-name="openness universalism">
		<div class="icon-wrap">
			<img class="i" src="{{ 'assets/images/i-gear.svg'|theme }}" alt="icon"/>
		</div>
		<h2>Open source code</h2>
		<div class="text">The open source code of the platform and IDE allows developers to study the internal mechanisms of the platform independently, create pull requests or custom builds, and license their own solutions for use in case of strict security requirements.</div>
		<div class="btn-wrap">
			<a class="link tlink__btn" href="https://github.com/lsFusion">Github</a>
			<a class="btn btn_narow__white" href="comparison?id=32">
				<span class="link">
					<span class="link__text">Compare</span>
				</span>
			</a>
		</div>
	</div>

	<div class="item item_hover filtering-item" data-sort-name="usability">
		<div class="icon-wrap">
			<img class="i" src="{{ 'assets/images/i-gear.svg'|theme }}" alt="icon"/>
		</div>
		<h2>Deep user customization</h2>
		<div class="text">Users can customize any form, e.g. add custom selections and sorting rules or add/remove/reorder columns, and also perform basic analysis such as grouping visible data or calculating sums/maximums and other aggregated indicators. In addition to the UI settings, users can also add logging, completeness control, or notifications about any changes to the data (including computed data).</div>
		<div class="btn-wrap">
			<a class="link tlink__btn" href="https://en-documentation.lsfusion.org/display/LSFUS/User+interface">Documentation</a>
			<a class="btn btn_narow__white" href="comparison?id=33">
				<span class="link">
					<span class="link__text">Compare</span>
				</span>
			</a>
		</div>
	</div>

	<div class="item item_hover filtering-item" data-sort-name="cost">
		<div class="icon-wrap">
			<img class="i" src="{{ 'assets/images/i-gear.svg'|theme }}" alt="icon"/>
		</div>
		<h2>Free license</h2>
		<div class="text">The platform is licensed under LGPL v3, which allows you to freely use, distribute, and modify the platform as you wish.</div>
		<div class="btn-wrap">
			<a class="link tlink__btn" href="https://opensource.org/licenses/lgpl-3.0.html">Text</a>
			<a class="btn btn_narow__white" href="comparison?id=34">
				<span class="link">
					<span class="link__text">Compare</span>
				</span>
			</a>
		</div>
	</div>
	
</div>